<div fxLayout="row" fxLayoutWrap="wrap">
  <div *ngIf="auth.user | async as user" fxLayout="column" fxFlex="100" fxFlex.gt-md="50">
 
    <mat-card class="p-0">
      <mat-card-title class=" m-0">
        <div class="card-title-text">
          <span>{{user.displayName}}さんのセルフプロフィール</span>
        </div>
        <mat-divider></mat-divider>
      </mat-card-title>
      <mat-card-content>
      
        <!-- <p [innerHTML]="user.shortIntro"></p> -->
    <div> <br>
      <small><p class="text-muted" [innerHTML]="user.shortIntro"></p> </small>
    </div>
       
      </mat-card-content>
    </mat-card>


  </div>
  
  <div fxLayout="column" fxFlex="100" fxFlex.gt-md="50">
  



    <mat-card class="default">
      <mat-card-title>Assigned Tasks</mat-card-title>
      <mat-card-content class="p-0">
        <div class="list-tasktype">
          <div class="tasktype-item" *ngFor="let t of tasks">
            <mat-checkbox class="mr-1"></mat-checkbox>
            <span>{{t.text}}</span>
            <span fxFlex></span>
            <mat-chip mat-sm-chip color="primary" [selected]="t.status ? true : false">{{t.status ? 'completed' : 'pending'}}</mat-chip>
            <button mat-icon-button mat-sm-button [matMenuTriggerFor]="taskMenu" class="tasktype-action ml-1">
                <mat-icon class="text-muted">more_vert</mat-icon>
            </button>
            <mat-menu #taskMenu="matMenu">
              <button mat-menu-item>
                <mat-icon>done</mat-icon>
                <span>Completed</span>
              </button>
              <button mat-menu-item>
                <mat-icon>edit</mat-icon>
                <span>Edit</span>
              </button>
              <button mat-menu-item>
                <mat-icon>delete</mat-icon>
                <span>Delete</span>
              </button>
            </mat-menu>
          </div>
        </div>
        <div class="text-center">
          <button mat-button class="full-width">View all</button>
        </div>
      </mat-card-content>
    </mat-card>

    <mat-card class="default">
      <mat-card-title>Activity</mat-card-title>
      <mat-card-content class="p-0" fxLayout="column">
        <div class="activity-data">
          <ngx-datatable class="material bg-white" 
          [columnMode]="'force'"  
          [headerHeight]="50"
          [footerHeight]="50" 
          [rowHeight]="50"
          [limit]="4"
          [rows]="activityData">
            <ngx-datatable-column name="Month" [flexGrow]="1">
              <ng-template let-row="row" ngx-datatable-cell-template>
                {{ row?.month }}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Spent" [flexGrow]="1">
              <ng-template let-row="row" ngx-datatable-cell-template>
                {{ row?.spent }}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Opened" [flexGrow]="1">
              <ng-template let-row="row" ngx-datatable-cell-template>
                {{ row?.opened }}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Closed" [flexGrow]="1">
              <ng-template let-row="row" ngx-datatable-cell-template>
                {{ row?.closed }}
              </ng-template>
            </ngx-datatable-column>
          </ngx-datatable>
        </div>
      </mat-card-content>
    </mat-card>

  </div>
</div>
