small {
    font-family: "M PLUS Rounded 1c";;
    font-size:12px;
}
span {
    font-family: "M PLUS Rounded 1c";;
    font-size:13px;
}
h6 {
    font-family: "M PLUS Rounded 1c";;
    font-size:13px;
}