
<mat-card  class="p-0">
    <mat-card-title class="">
      <div  class="card-title-text">
          <div class="chisai" style="color:darkgrey"><small>Project-Code: {{projectId}}</small></div>
          <div class="chisai" style="color:darkgrey"><small>Member-Type: {{memberType}}</small></div> 
         
    </div>
     
      <mat-divider></mat-divider>
      
    </mat-card-title>
    <mat-card-content >
      <mat-horizontal-stepper [linear]="true">
        <mat-step [stepControl]="firstFormGroup">


            <form [formGroup]="firstFormGroup">
                <ng-template matStepLabel>       <span><mat-icon>credit_card</mat-icon> レゾンデートル・メンバー誓約 </span></ng-template>
                <mat-divider></mat-divider><br>
              
                <div>
                    <mat-checkbox matInput formControlName="pledge" required>パトロンになる前に大切なお約束 </mat-checkbox>
                    <br><br>
                    <button mat-raised-button color="primary" [disabled]="firstFormGroup.invalid"  matStepperNext>次へ</button>
               
                </div>
              </form>
              <br>
          
               <h5>レゾンデートル・メンバー誓約にチェック</h5>
               <p><small>
                寄付プロジェクトのパトロンとなることで自動的にレゾンデートルのメンバーになります。レゾンデートルは、弊社ニルバーナが運営する、
                音楽家と慈善団体やNPOがコラボして作る新しい「社会問題に敏感な」多国籍音楽コミュニティです。ユーチューブを使った 音楽活動をしているミュージシャンと 
                慈善団体が同時クラウドファンデイングして様々な社会的問題に焦点をあて問題認知とNPOと協業して色々な問題に対して寄付活動を行ってきました。
                また、ライブ・イベントをやったり、チャリティ・ガラ・パーティー を開催。様々な社会貢献をしております。こうした、我々の意思にご賛同頂き、
                グローバル・エシカル・コミュニティの発展にかける我々の思いに賛同して頂ける方のみメンバーとさせて頂きますので、よろしくご了承いただき、
                同意して頂ける方は、チェックボタンにチェックをお願いします。

                 </small></p>
               <p><small></small></p>
              
        </mat-step> 


        <mat-step [stepControl]="secondFormGroup">
        
        
            <button *ngIf="!auth.user | async as user" 
            class="mat-primary full-width mb-1" mat-flat-button (click)="googleSignIn()">Sign-In with Google</button>
          
              <form [formGroup]="secondFormGroup"> 
                 <ng-template matStepLabel><mat-icon>assignment_ind</mat-icon>  各種規約</ng-template>
                 <mat-divider></mat-divider><br>
                 <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutWrap="wrap">
                 <div fxFlex="50"  class="pr-1">
                    <mat-checkbox matInput formControlName="terms_condtions" required>利用規約にチェック ! </mat-checkbox><br>
                    <mat-checkbox matInput formControlName="privacy_policy" required>個人情報の取り扱いにチェック ! </mat-checkbox>
                 </div> 
                 </div>   
                 <br>  
                
                 <div>
                    <button  mat-raised-button color="accent" matStepperPrevious>前へ</button>
                    <button  (click)="confirmPayment()" mat-raised-button color="primary" matStepperNext>次へ</button>
                 </div>
               </form> 
        
                <br>
               <mat-tab-group>
                  <mat-tab label="利用規約"> 
                    
                    <div>
                      <br>
                      <span class="card-title">利用規約</span>
                      <p>
                        株式会社ニルバーナコンサルタント（以下、「当社」といいます。）は、当社が運営するクラウドファンディングプラットフォームRaison Detre(レゾンデートル）（以下、「本サービス」といいます。）の会員登録について、以下のとおり利用規約（以下、「本利用規約」といいます。）を定めます。本サービスを利用するためには、本利用規約および当社が定める本サービスの利用に関するガイドライン（以下、「ガイドライン」といいます。）の全てに同意していただく必要があり、会員が本サービスを利用したときは、会員は本利用規約およびガイドラインに同意したものとみなされるものとします。
                      </p>
                      <br>
                      <span class="card-title">第1条 定義</span>
                      <p>・「本サービス」とは、当社が提供するRaison Detre　(レゾンデートル）という名のサービスであり、次条に定める目的と内容を有します（理由の如何を問わずサービスの名称または内容が変更された場合は、当該変更後のサービスを含みます）。また、当社の運用するブログ、Twitter、Facebook、ニュースレター、MAGAZINE 等の媒体を含みます。 </p>
                      <p>・「会員」とは、本利用規約を承認の上、当社が定める方法により本サービス利用のために入会を申し込み、当社が承認した者をいいます。</p>
                      <p>・「購入型プロジェクト」とは、本サービス上で掲載される企画、商品等を意味します。 </p>
                      <p>・「寄付型プロジェクト」とは、本サービス上で掲載される企画、支援等を意味します。 </p>
                      <p>・「プロジェクト」とは、「購入型プロジェクト」及び「寄付型プロジェクト」を含む本サービス上で掲載される企画、商品、支援等を意味します。</p>
                      <p>・「プロジェクトオーナー」とは、プロジェクトの企画、管理、運営等の責任者たる会員を意味します。</p>
                      <p>・「パトロン」とは、プロジェクトを支援する会員を意味します。</p>
                      <p>・「リターン」とは、プロジェクトの支援に対してプロジェクトオーナーから提供される商品またはサービスのことで、パトロンが支援した金額内で選択可能な無形または有形のもの等とします。</p>
                      <p>・「外部SNSサービス」とは、Facebook、その他の他の事業者が提供している当社所定のソーシャル・ネットワーキング・サービスで、会員の認証、友人関係の開示、当該外部ソーシャル・ネットワーク内へのコンテンツの公開などの機能を持ち、本サービスの実施に利用されるサービスを意味します。</p>
                      <br>
                      <span class="card-title">第2条 本サービスの目的と内容</span>
                      <p>本サービスは、会員がプロジェクトオーナーとなり掲載したプロジェクトに対し、不特定多数の他の会員がパトロンとなり、そのプロジェクトへ金銭的な支援をする両者のマッチングの場を提供します。</p>
                      <br>
                      <span class="card-title">第3条 会員申込</span>
                          <p>1項 会員となることを希望する者（以下、「会員希望者」といいます。）は、会員となる本人が、本利用規約を遵守することに同意し、かつ当社の定める一定の情報（以下、「登録情報」といいます。）を当社所定の方法で当社に提供することにより、当社に対し、入会を申し込むものとします。 </p>
                          <p>2項 会員登録手続は、第1項の申込に対する当社の承諾をもって完了するものとし、この時点において、本利用規約の諸規定に従った本サービスの利用契約が会員と当社の間に成立し、会員は本サービスを当社の定める方法で利用することができるようになります。</p>
                          <p>3項 当社は、会員希望者が以下の各号のいずれかの事由に該当する場合は、入会を拒否することがあります。また、入会を認めた後でも、入会を取り消すことがあります。</p>
                          <p>・過去に会員資格を抹消されている場合</p>
                          <p>・申込の際に当社に提供された登録情報の全部または一部につき虚偽、誤記または記載漏れがあった場合</p>
                          <p>・未成年者、成年被後見人、被保佐人または被補助人のいずれかであり、法定代理人、後見人､保佐人または補助人の同意等を得ていなかった場合</p>
                          <p>・反社会的勢力等（第4条で定義）である、または資金提供その他を通じて反社会的勢力等の維持、運営若しくは経営に協力若しくは関与する等反社会的勢力等との何らかの交流若しくは関与を行っていると当社が判断した場合</p>
                          <p>・その他、当社が登録を適当でないと判断した場合</p>
                          <p>4項 前項の規定の適用により、会員に損害等が生じた場合でも、会員は当該損害等について、当社および決済代行事業者、提携カード会社その他の第三者に一切の請求をしないものとします。</p>
                          <br>
                          <span class="card-title">第4条 反社会的勢力等の排除</span>
                          <p>1項 会員は、暴力団、暴力団員および暴力団員でなくなったときから5年を経過しない者、暴力団準構成員、暴力団関係企業に属する者、総会屋等、社会運動等標ぼうゴロ、特殊知能暴力集団等、テロリスト等、日本政府または外国政府が経済制裁の対象として指定する者（以下上記の9者を総称して「暴力団員等」といいます）、暴力団員等の共生者、その他これらに準ずる者（以下、上記のすべてを総称して「反社会的勢力等」といいます）のいずれかにも該当しないこと、かつ将来にわたっても該当しないこと、および自らまたは第三者を利用して、暴力的な要求行為、法的な責任を超えた不当な要求行為、取引に関して、脅迫的な言動をし、または暴力を用いる行為、風説を流布し、偽計を用いまたは威力を用いて当社の信用を毀損し、または当社の業務を妨害する行為、その他これらに準ずる行為（以下総称して「不当な要求行為など」といいます）を行わないことを確約することとします。</p>
                          <p>2項 1項に定める「暴力団員等の共生者」とは、以下のいずれかに該当するものをいいます。</p>
                          <p>（1）暴力団員等が、経営を支配していると認められる関係を有する者</p>
                          <p>（2）暴力団員等が、経営に実質的に関与していると認められる関係を有する者</p>
                          <p>（3）自己もしくは第三者の不正の利益を図る目的、または第三者に損害を加える目的をもってするなど、不当に暴力団員等を利用していると認められる関係を有する者</p>
                          <p>（4）暴力団員等に対して資金等を提供し、または便宜を供与するなどの関与をしていると認められる関係を有する者</p>
                          <p>（5）暴力団員等と社会的に非難されるべき関係を有する者</p>
                          <p>（6）その他暴力団員等の資金獲得活動に乗じ、または暴力団員等の威力、情報力、資金力等を利用することによって自ら利益拡大を図る者</p>
                          <p>3項 前項の規定の適用により、会員に損害等が生じた場合でも、会員は当該損害等について、当社および決済代行事業者、提携カード会社その他の第三者に一切の請求をしないものとします。</p>
                            <br>
                            <span class="card-title">第5条 会員IDおよびパスワードの管理  </span>
                            <p>1項 会員は、当社が会員に付与する会員ID、パスワード等の管理および保管を行う責任を負うものとします。</p>
                            <p>2項 会員は、会員IDおよびパスワード等を第三者に利用させ、または譲渡もしくは担保設定その他の処分をすることはできないものとします。</p>
                            <p>3項 会員IDおよびパスワード等の管理不十分、使用上の過誤、第三者の使用等による損害の責任は会員が負うものとし、当社は一切の責任を負わないものとします。</p>
                            <p>4項 会員は、会員IDまたはパスワードが第三者に漏えいした場合、あるいは会員IDまたはパスワードが第三者に使用されている疑いのある場合には、直ちに当社にその旨を連絡するとともに、当社の指示がある場合にはこれに従うにものとします。この場合、当社はその会員IDやパスワード等を不正アカウントとして停止することができるものとします。</p>
                            <p>5項 パスワードの設定をしている会員は、定期的にパスワードを変更する義務を負い、その義務を怠ったことにより損害が生じても当社は一切の責任を負わないものとします。</p>
                              <br>
                            <span class="card-title">第6条 連絡/通知 </span>
                            <p>会員は、本サービスに関する案内、システムメンテナンスに関する告知、その他当社から会員に対する連絡または通知は、Eメール等当社の定める方法で会員に対して配信することを了承するものとします。当社から会員に対する連絡または通知は、会員が当社に申請した連絡先に発信することにより、会員に通常到達すべきときに到達したとみなされるものとします。</p>
                              <br>
                              <span class="card-title">第7条 届出事項の変更等 </span>
                              <p>会員は、入会申込の際に当社に提供された登録情報に変更のあった場合は、遅滞なく当社所定の様式により当該変更事項を届け出るものとします。</p>
                                <br>
                             <span class="card-title">第8条 個人情報</span>
                              <p>1項 当社は、会員から提供された個人情報を本サービスの提供に必要な範囲および当社のプライバシーポリシーで定められた目的の範囲で使用することができるものとし、会員は、このプライバシーポリシーに従って当社が会員から提供された個人情報を取扱うことについて同意します。</p>
                              <p>2項 会員は、当社に個人情報を提供する場合その他本サービスを利用するに当たり、個人情報の保護に関する法律を遵守しなければなりません。</p>
                                <br>
                                <span class="card-title">第9条 退会</span>
                                <p>1項 会員は、当社所定の手続きにより本サービスから退会し、会員としての登録を抹消することができます。 </p>
                                <p>2項 会員が死亡した場合その他本人の会員資格の利用が不可能となる事由があったときは、当社は、当該会員がその時点で退会したものとみなし、会員IDおよびパスワードを利用できなくするものとします。</p>
                                  <br>
                                  <span class="card-title">第10条 会員資格の停止、除名</span>
                                <p>1項 当社は、以下の事由がある場合、会員に何ら事前の通知または催告をすることなく、会員資格を一時停止し、または除名することができるものとします。</p>
                                <p>（1）会員IDまたはパスワードおよび本サービスを不正に使用しまたは使用させた場合</p>
                                <p>（2）当社、他の登録ユーザー、外部SNS事業者その他の第三者に損害を生じさせるおそれのある目的または方法で本サービスを利用した、または利用しようとした場合</p>
                                <p>（3）手段の如何を問わず、本サービスの運営を妨害した場合</p>
                                <p>（4）会員が支援金を定められた時期までに支払わなかった場合</p>
                                <p>（5）会員に対し、差押、仮差押、仮処分、強制執行、破産、民事再生、会社更生、特別清算の申し立てがなされた場合、または、会員が自ら破産、民事再生、会社更生、特別清算の申し立てをした場合</p>
                                <p>（6）当社の定める回数以上のパスワードの入力ミスがある場合</p>
                                <p>（7）当社の定める期間内に本サービスの利用がなかった場合 </p>
                                <p>（8）その他、会員が本利用規約およびガイドラインのいずれかまたは双方の条項に違反した場合</p>
                                <p>（9）第3条第3項（登録拒絶事由）の各号に該当する場合</p>
                                <p>（10）その他、会員として不適格と当社が判断した場合</p>
                                <p>2項 プロジェクトが成立した後に、会員が本条第1項の各号に該当することが判明した場合、当社は、(i)会員がパトロンの場合は、当該支援金額を無効とし、(ii)プロジェクトオーナーの場合は、成立したプロジェクトを不成立とすることができます。</p>
                                <p>3項 当社は、本条に基づき当社が行った行為により会員に生じた損害について一切の責任を負いません。</p>
                                  <br>
                                  <span class="card-title">第11条 本サービスの変更、追加または廃止</span>
                                  <p>1項 当社は、いつでも本サービスの内容を変更、追加（以下、「変更等」という。）または廃止することができるものとします。本サービスの変更等が会員に重大な影響を及ぼす場合は、当社ウェブサイトに当該変更等の内容を掲載してお知らせします。また、本サービスの廃止は、当社所定の方法により事前に会員に通知するものとします。
                                      2項 当社は、本条に基づき当社が行った措置により会員に生じた損害には一切責任を負いません。
                                  </p>
                                  <span class="card-title">第12条 本サービスの停止</span>
                                  <p> 当社は、次の各号のいずれかに該当する場合には、会員に事前に通知することなく、本サービスの一部または全部を停止または中断することができるものとし、当該停止または中断により会員に生じた損害には一切責任を負いません。</p>
                                  <p> (1）本サービスの提供のための装置、システムの保守または点検を行う場合 </p>
                                  <p>（2）火災、停電、地震、天災、システム障害等により、本サービスの運営が困難な場合</p>
                                  <p>（3）外部SNSサービスに、トラブル、サービス提供の中断または停止、本サービスとの連携の停止、仕様変更等が生じた場合</p>
                                  <p>（4）その他、当社が停止または中断をやむをえないと判断した場合</p>
                                  <span class="card-title">第13条 禁止行為</span>
                                  <p> 1項 会員は、本サービスの利用にあたって、以下各号のいずれかに該当する行為、あるいはそのおそれがある行為を行ってはならないものとします。</p>
                                  <p>（1）本サービスを不正の目的をもって利用する行為</p>  
                                  <p>（2）当社、他の会員、その他の第三者の知的財産権、肖像権、パブリシティ権その他の権利を侵害する行為 </p>
                                  <p>（3）当社、他の会員、その他の第三者の名誉もしくは信用を毀損し、またはプライバシーを侵害する行為</p>  
                                  <p>（4）詐欺等の犯罪に結びつく行為</p> 
                                  <p>（5）コンピュータウイルスなど有害なプログラム等を送信もしくは提供する行為、または推奨する行為</p>  
                                  <p>（6）当社、他の会員、その他の第三者の情報を改ざん、消去する行為</p> 
                                  <p>（7）当社、他の会員、その他の第三者の設備を不正に利用し、またはその運営に支障を与える行為</p> 
                                  <p>（8）法令、本利用規約もしくはガイドラインまたは公序良俗に違反する行為</p>
                                  <p>（9）本サービスの運営を妨害する行為</p>  
                                  <p>（10）その他当社が不適当と判断する行為</p>  
                                  <p>  2項 会員が前項各号のいずれかに該当する行為を行ったことにより、当社が何らかの損害を被った場合、当社は会員に対して損害賠償の請求ができるものとします。</p>  
                                  <span class="card-title">第14条 免責</span>
                                  <p>1項 本サービスは、会員が、プロジェクトオーナーまたはパトロンとして取引を行う場を提供するものであり、会員に対して、プロジェクトが予定通り実行されることを保証するものではありません。  </p>
                                  <p>2項 本サービスに関連して、プロジェクトオーナーとパトロンの間を含む、会員同士の間で生じたトラブルに関しては、会員の責任において処理および解決するものとし、当社はかかる事項について一切責任を負わないものとします。 </p>
                                  <p>3項 本サービスは、外部SNSサービスと連携することがありますが、かかる連携を保証するものではなく、本サービスにおいて外部SNSサービスと連携できなかった場合でも、当社は一切の責任を負いません。本サービスが外部SNSサービスと連携している場合において、会員は外部SNS利用規約を自己の費用と責任で遵守するものとし、会員と当該外部SNSサービスを運営する外部SNS事業者との間で紛争等が生じた場合でも、当社は当該紛争等について一切の責任を負いません。</p>
                                  <p>4項 当社は、会員が本サービスを利用する際に、コンピュータウイルスなど有害なプログラム等による損害を受けないことを保証しないものとします。</p>
                                  <p>5項 当社は、会員が本サービスを利用する際に使用するいかなる機器、ソフトウェアについても、その動作保証を一切しないものとします。</p>
                                  <p>6項 当社は、会員が本サービスを利用する際に発生する通信費用について、一切負担しないものとします。</p>
                                  <p>7項 当社は、当社の故意、重過失がある場合を除き、会員の逸失利益、間接損害、特別損害、拡大損害、弁護士費用等を賠償しないものとし、何らかの理由により当社が責任を負う場合でも、当社は会員の損害につき、契約者が当社に本サービスの対価として支払った総額を限度額として、それ以上の賠償する責任を負わないものとします。</p>
                                  <p>8項 本サービスの基準時間は、当社のサーバー、システムで管理する時間とし、実際の時間や本サービスで表示する時間とは一致しない場合があります。会員はあらかじめこれを了解の上で本サービスを利用するものとします。</p>
                                  <p>9項 会員は、本サービスの利用に関連して課税が生じることがあることを認識して本サービスを利用するものとします。当社は、当該課税に関し一切関与しないものとし、課税の有無や課税額等については、会員自らが、自らの責任で確認および対応するものとします。</p>
                                  <span class="card-title">第15条 購入型プロジェクトの取引の性質</span>
                                  <p>1項 購入型プロジェクトにおいて行われるリターンの提供についてはプロジェクトオーナーとパトロンの間の直接の売買契約として成立するものとします（以下、「本取引」といいます）。当社は取引の当事者とはならず、本取引に関する権利、義務はプロジェクトオーナーとパトロンとの間で発生します。</p>
                                  <p>2項 本取引は、あらかじめプロジェクトオーナーが定めた募集期間内に、プロジェクトが成立することを条件として成立します。また、パトロンから支援された時点でプロジェクトが成立することを条件とし取引が成立します。</p>
                                  <p>3項 プロジェクトオーナーは、当社または当社が指定する決済事業者若しくは収納代行業者（以下「代金受領者」といいます。）に対して、リターンの対価としての支援金を代理受領する権限を付与するものとし、代金受領者がパトロンから支援金を受領することにより、パトロンのプロジェクトオーナーに対するリターンの対価の支払が完了するものとします。</p>
                                  <span class="card-title">第16条 寄付型プロジェクトの取引の性質</span>
                                  <p>1項 寄付型プロジェクトにおいて行われる寄付についてはプロジェクトオーナーとパトロンの間の直接の寄付として成立するものとします（以下、「本寄付」といいます）。当社は寄付の当事者とはならず、本寄付に関する権利、義務はプロジェクトオーナーとパトロンとの間で発生します。</p>
                                  <p>2項 本寄付は、あらかじめプロジェクトオーナーが定めた募集期間内に、プロジェクトが成立することを条件として成立します。また、パトロンから支援された時点でプロジェクトが成立することを条件とし寄付が成立します。</p>
                                  <p>3項 プロジェクトオーナーは、当社または代金受領者に対して、支援金を代理受領する権限を付与するものとし、代金受領者がパトロンから支援金を受領することにより、パトロンのプロジェクトオーナーに対する寄付の支払が完了するものとします。</p>
                                  <p>4項 本寄付は、リターンの提供との間に、対価性を持つものではなく、リターンは、寄付への返礼として行われるものとします。</p>
                                  <p>5項 本寄付に対する寄付受領証明書の発行は、プロジェクトオーナーの責任においてなされるものとします。</p>
                                  <span class="card-title">第17条 権利帰属</span>
                                  <p>1項 当社ウェブサイトおよび本サービスに関する所有権および知的財産権は全て当社または当社にライセンスを許諾している者に帰属しており、本利用規約に定める登録に基づく本サービスの利用許諾は、当社ウェブサイトまたは本サービスに関する当社または当社にライセンスを許諾している者の知的財産権の使用許諾を意味するものではありません。会員は、いかなる理由によっても当社または当社にライセンスを許諾している者の知的財産権を侵害するおそれのある行為（逆アセンブル、逆コンパイル、リバースエンジニアリングを含みますが、これに限定されません。）をしないものとします。ただし、プロジェクトについてプロジェクトオーナーが提供した写真等の素材やプロジェクトの対象となる商品またはサービスについての権利は、プロジェクトオーナーまたはプロジェクトオーナーにライセンスを許諾している者に留保されるものとします。</p>
                                  <p>2項 当社ウェブサイトまたは本サービスにおいて、会員が投稿その他送信を行った文章、画像、動画その他のデータ（前項但書に定めるものも含む）については、当社において、無償で自由に利用（複製、複写、改変、第三者への再許諾その他のあらゆる利用を含みます。）することができるものとします。</p>
                                  <p>3項 会員は、プロジェクト内容について、当社、プロジェクトオーナーその他の第三者の名誉その他の権利ないし利益を侵害するものでない限り、当社の定めるプロジェクトのURLおよび埋め込みコード、プロジェクトタイトル、プロジェクト概要のテキストおよび画像、プロジェクトオーナーのプロフィールをインターネットおよび外部SNSサービス上で転載することができるものとします。また、これら以外の紙面媒体等への転載については、当社の承諾を得るものとします。</p>
                                  <span class="card-title">第18条 利用規約の変更</span>
                                  <p>当社は、本利用規約を変更することができるものとします。当社は、本利用規約を変更した場合には、当社所定の方法により会員に当該変更内容を通知または当社ウェブサイトにて公表するものとし、当該変更内容の通知または公表の後、本サービスを利用した会員は、かかる変更に同意したとみなされるものとします。   </p>
                                  <span class="card-title">第19条 秘密保持</span>
                                  <p>1項 本利用規約において「秘密情報」とは、利用契約または本サービスに関連して、会員が、当社より書面、口頭若しくは記録媒体等により提供若しくは開示されたか、または知り得た、当社の技術、営業、業務、財務、組織、その他の事項に関する全ての情報を意味します。ただし、(1)当社から提供若しくは開示がなされたとき又または知得したときに、既に一般に公知となっていた、または既に知得していたもの、(2)当社から提供若しくは開示または知得した後、自己の責めに帰せざる事由により刊行物その他により公知となったもの、(3)提供または開示の権限のある第三者から秘密保持義務を負わされることなく適法に取得したもの、(4)秘密情報によることなく単独で開発したもの、(5)当社から秘密保持の必要なき旨書面で確認されたものについては、秘密情報から除外するものとします。

                                      2項 会員は、秘密情報を本サービスの利用の目的のみに利用するとともに、当社の書面による承諾なしに第三者に当社の秘密情報を提供、開示または漏洩しないものとします。
                                      
                                      3項 前項の定めに拘わらず、会員は、法律、裁判所または政府機関の命令、要求または要請に基づき、秘密情報を開示することができます。ただし、当該命令、要求または要請があった場合、速やかにその旨を当社に通知しなければなりません。
                                      
                                      4項 会員は、秘密情報を記載した文書または磁気記録媒体等を複製する場合には、事前に当社の書面による承諾を得ることとし、複製物の管理については第2項に準じて厳重に行うものとします。
                                      
                                      5項 会員は、当社から求められた場合にはいつでも、遅滞なく、当社の指示に従い、秘密情報並びに秘密情報を記載または包含した書面その他の記録媒体物およびその全ての複製物を返却または廃棄しなければなりません。
                                      
                                       </p>
                                       <span class="card-title">第20条 有効期間</span>
                                       <p>利用契約は、会員について第3条に基づく登録が完了した日に効力を生じ、当該会員の登録が取り消された日または本サービスの提供が終了した日のいずれか早い日まで、当社と会員との間で有効に存続するものとします。</p>
                                       <span class="card-title">第21条 本利用規約の譲渡等</span>
                                       <p>会員は、当社の書面による事前の承諾なく、利用契約上の地位または本利用規約に基づく権利若しくは義務につき、第三者に対し、譲渡、移転、担保設定、その他の処分をすることはできません。当社は本サービスにかかる事業を他社に譲渡した場合には、当該事業譲渡に伴い利用契約上の地位、本利用規約に基づく権利および義務並びに会員の登録情報その他の登録情報を当該事業譲渡の譲受人に譲渡することができるものとし、会員は、かかる譲渡につき本項において予め同意したものとします。なお、本項に定める事業譲渡には、通常の事業譲渡のみならず、会社分割その他事業が移転するあらゆる場合を含むものとします。</p>
                                        <span class="card-title">第22条 一部無効等</span>
                                        <p>本利用規約の一部の規定の全部または一部が法令に基づいて無効と判断された場合であっても、当該規定は元の意思にできる限り沿うように解釈されるものとし、当該規定の無効部分以外の部分および本利用規約のその他の規定は有効とします。 本利用規約の規定の一部があるユーザーとの関係で無効とされ、または取り消された場合でも、本利用規約はその他のユーザーとの関係では有効とします。</p>
                                        <span class="card-title">第23条 準拠法および合意管轄</span>
                                        <p>本利用規約の準拠法は日本法とします。本利用規約に関して紛争が生じた場合、東京地方裁判所を第一審の専属的合意管轄裁判所とします。</p>
                                            
                                         
                                      </div>

                  
                  </mat-tab>





                  <mat-tab label="個人情報方針"> 

                    <div>
                      <br>
                      <p class="p1"><span class="s1"><b>個人情報方針</b></span></p>
  
                      <p class="p2">個人情報とは、個人に関する情報であり、当該情報に含まれる氏名、生年月日その他の記述等により特定の個人を識別することができるもの（他の情報と容易に照合することができ、それにより特定の個人を識別することができることとなるものを含む。）を指します。
                          当社グループは当社サービスにおいて、個人情報保護に関する法令およびその他の規範を遵守し、自主的なルールおよび体制を確立し、次の事項を含むプライバシーポリシーを定め、これを実施し、かつ、維持することを宣言いたします。</p>
                      
                          <span class="card-title">個人情報の利用について</span>
                          <p>当社グループは、収集した個人情報を以下の目的で利用することができるものとします。</p>
                          <p>1. 本人確認、認証サービスのため</p> 
                          <p>2. アフターサービス、お問い合わせ、苦情対応のため</p> 
                          <p>3. 当社グループ及び当社サービスへのお問い合わせ、当社サービスの運営上必要な事項の通知（電子メールによるものを含むものとします。）</p> 
                          <p>4. ユーザーが投稿した情報の掲載 </p>
                          <p>5. システムの維持、不具合対応のため</p>
                          <p>6. 当社サービスの改善や新サービスの開発等に役立てるため</p> 
                          <p>7. 登録ユーザーの反社会的勢力の該当性を判断するため</p> 
                          <p>8. キャンペーン・懸賞企画、アンケートの実施のため</p>
                          <p>9. メールマガジンの送信のため </p> 
                          <p>10. ダイレクトメールの送付のため</p>
                          <p>11. 当社または第三者のウェブサイト、Webメディア、SNSサービス、プレスリリース配信サービス、本、雑誌その他メディア上にユーザーの属性にあった広告を表示、掲載または配信するため</p>
                          <p>12. マーケティングデータの調査・分析、当社グループにおける新たなサービス開発のため</p>
                          <p>13. 当社および業務提携企業に提供する統計資料作成のため</p>
                          <p>14．当社が加入する賠償責任保険等の保険金請求をするため</p>
                           
                          <span class="card-title">個人情報の第三者への提供</span>
                          <p>
                              1. 本人の同意がある場合
                              2. 裁判所、検察庁、警察、税務署、弁護士会またはこれらに準じた権限を持つ機関から、個人情報の開示を求められた場合
                              3. 保険金請求のために保険会社に開示する場合
                              4. 利用目的の達成に必要な範囲内において当社グループが行う業務の全部または一部を第三者に委託する場合
                              5. 当社に対して秘密保持義務を負う者に対して開示する場合
                              6. 当社の権利行使に必要な場合
                              7. 合併、営業譲渡その他の事由による事業の承継の際に、事業を承継する者に対して開示する場合
                              8. 個人情報保護法その他の法令により認められた場合  
                          </p> 

                          <span class="card-title">個人情報の提供の同意</span>
                          <p>
                              当社は、法令で認められる場合またはお客様の同意をいただいた場合には第三者に対して個人情報を提供いたします。以下の場合においては、当社は第三者に対して、必要な範囲で個人情報を提供させていただきますので、あらかじめご了承ください。
                              1. 保険会社に対する保険金請求のために必要となるとき、当該保険会社に開示する場合
                              2. 第三者のウェブサイト、Webメディア、SNSサービス、プレスリリース配信サービス、本、雑誌その他メディア上にユーザーの属性にあった広告を表示、掲載または配信するために、当該第三者に提供する場合
                              なお、当社は、お客様へのサービスの提供等のため必要がある場合には、委託先に対する必要かつ適切な監督を行った上で、個人情報の取り扱いを第三者に委託することがあります。 
                              
                          </p> 
                          <span class="card-title">個人情報の開示</span>
                          <p>
                              当社グループは、ご本人から、個人情報の開示を求められたときは、ご本人に対し、遅滞なく開示します。ただし、開示することにより次のいずれかに該当する場合は、その全部または一部を開示しないこともあり、開示しない決定をした場合には、その旨を遅滞なく通知します。

                              1. ご本人または第三者の生命、身体、財産その他の権利利益を害するおそれがある場合
                              2. 当社グループの業務の適正な実施に著しい支障を及ぼすおそれがある場合
                              3. 他の法令に違反することとなる場合
                          </p> 
                          <span class="card-title">個人情報の訂正等</span>
                          <p>
                              当社グループは、ユーザーご本人より当該本人の個人情報の訂正、追加、削除、利用の停止または消去を求められた場合には、ユーザーご本人であることを確認させていただいた上で合理的な期間内に対応いたします。  
                          </p> 
                          <span class="card-title">Google社提供ツールの利用について</span>
                          <p>
                              当社グループのサービスではGoogle社が提供するGoogleアナリティクスおよびFirebase を利用しています。 データが収集、処理される仕組みについては、Google社が提供するこちらのページからご確認いただけます。https://firebase.com/
                          </p> 
                          <span class="card-title">クッキー、アクセスログについて</span>
                          <p>
                              当社サービスでは、クッキー（Cookie）と呼ばれる技術を利用しています。クッキーとは、特定の情報をユーザーの利用する通信機器に一時的にデータとして保持させ、接続の度にそのデータを基にユーザーを識別させる仕組みをいいます。当社グループでは、クッキーの利用を前提としたサービスを提供しています。そのため、クッキーの利用を許可しない場合、当社グループの一部のサービスを受けられないことがあります。クッキーの利用を許可するかどうかは、ユーザーのブラウザで設定できます。必要に応じて設定を確認してくださいまた、当社サービスでは、収集タグ等を設置し、アクセスログを取得することがございます。アクセスログは、本ウェブサイトにアクセスされたユーザーのIPアドレス、ホスト名、使用ブラウザ名、アクセス日時等の情報が含まれます。
クッキー、アクセスログを利用した行動分析・広告配信について 当社サービスでは、サイトの利用状況の把握、サイトの改善、レポートの作成や適切な広告・宣伝表示をするために当社グループまたは第三者のクッキー、アクセスログを利用しています。クッキーより取得される情報およびアクセスログは、当社グループまたは第三者のプライバシーポリシー等に基づいて管理されます。
広告・宣伝の配信やアクセスログの収集を希望しない場合、ユーザーは、下記の各企業のサイトにアクセスし、無効化（オプトアウト）の手続きをとることにより、広告宣伝の配信やアクセスログの収集を停止することができます。
                          </p> 
                  
                         <span class="card-title">プライバシーポリシーの更新について</span>
                         <p>当社グループは、個人情報保護を図るため、法令等の変更や必要に応じて、プライバシーポリシーを改訂することがあります。その際は、最新のプライバシーポリシーを当社サービスのサイト内に掲載いたします。


                         </p>          
                     
                         <span class="card-title">免責</span>
                         <p>当社グループ及び当社サービスでは、お客様のID及びパスワードの管理については関与いたしません。お客様の不注意によりID及びパスワードが第三者に利用された場合は、ご登録いただいている個人情報を閲覧される可能性がございますので、ご利用にあたっては、使用および管理について責任を負うと共に、使用上の過誤または第三者による不正使用等について十分注意をして下さい。



                         </p>          
                     
                     
                      
                     
                      
                     
                     
             
                  </div>



                  </mat-tab>
                 
                </mat-tab-group>







        </mat-step>

        <mat-step>
          <ng-template matStepLabel>  <span><mat-icon>check</mat-icon> カード情報入力</span></ng-template>
          <mat-divider></mat-divider>
          <div>
            <mat-icon class="pt-1" [style.fontSize]="'36px'">check</mat-icon>
          </div>
          <div class="pb-1 mb-1"> クレジットカード情報入力</div>
          <div>

              <payment-form [totalAmount]="totalAmount"></payment-form>
              <br>
              <mat-divider></mat-divider>
<br>
            <button  mat-raised-button color="accent" matStepperPrevious>前へ</button>
             <button (click)="completePayment()" mat-raised-button color="primary" >完了！ </button> 
          </div>
        </mat-step>
      
      
      </mat-horizontal-stepper>
    </mat-card-content>
  </mat-card>
  
