<div fxLayout="row" fxLayoutWrap="wrap">
 <div fxFlex="100" fxFlex.gt-xs="100">
 <mat-card>
    <h3>会社概要</h3>
  <mat-divider></mat-divider>
  <br>
  <p>
    会社名 : ニルバーナコンサルタント（株）
  </p>
  <mat-divider></mat-divider><br>
  <p>
    設立年月日 : 2007.9.3 
  </p><mat-divider></mat-divider><br>
  <p>
   代表取締役 : 原 貴悌
  </p><mat-divider></mat-divider><br>
  <p>
    157−0073　東京都世田谷区砧4-10-18 
  </p><mat-divider></mat-divider><br>
  <p>
      Tel：03-6871-9441 Fax：03-6871-9311
  </p>
<mat-divider></mat-divider><br>
<p>
  レゾンデートルは、ニルバーナコンサルタント株式会社が運営する、音楽家と慈善団体やNPOがコラボして作る新しい「社会問題に敏感な」多国籍コミュニティです。ユーチューブを使った 音楽活動をしているミュージシャンと
  慈善団体が同時クラウドファンデイングして様々な社会的問題に焦点をあて 
  問題認知と解決を図ります。また、ライブ・イベントをやったり、チャリティ・ガラ・パーティー を開催。様々な社会貢献をしております。皆様のご協力宜しくお願い申し上げます。
</p>
 </mat-card>

 

 <div fxLayout="row" fxLayoutWrap="wrap">
  <div fxFlex="100" >
      <h3>Partners</h3>
  </div>
  
    
    <div  fxFlex="100"  [style.background-color]="'white'" fxFlex.gt-xs="20">
        <mat-card  [style.background-color]="'white'" 
                   [style.text-center]="true"
                   [class.mat-elevation-z0]="!isActive" 
        class="p-0">
            <img  style="height:20px;width:100px;padding-left:20px;padding-top:30px;" src="assets/images/nextJapan.png">  
        </mat-card>
      </div>
    <div  fxFlex="100"  [style.background-color]="'white'" fxFlex.gt-xs="20">
        <mat-card  [style.background-color]="'white'" 
                   [style.text-center]="true"
                   [class.mat-elevation-z0]="!isActive" 
        class="p-0">
            <img  style="height:70px;width:105px;padding-left:20px;padding-top:10px;" src="assets/images/giginJ.png">  
        </mat-card>
      </div>
     <div  fxFlex="100"  [style.background-color]="'white'" fxFlex.gt-xs="20">
          <mat-card  [style.background-color]="'white'" 
                     [style.text-center]="true"
                     [class.mat-elevation-z0]="!isActive" 
          class="p-0">
              <img style="height:100px;width:100px;padding-left:20px" src="assets/images/ssf.png">  
          </mat-card>
        </div>
  </div>


 <!-- <div  fxFlex="100" fxFlex.gt-xs="33">
 <mat-card
 [style.background-color]="'white'">
 <div>
 <h3>Partners Info</h3>
 <img src="assets/images/giginJ.png">
</div>
 </mat-card>-->
 </div>  
</div>

